html, body {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

header {
    background-color: #272F30;
    height: 70px;
}

#page {
    padding-top: 20px;
}

.points {

}

.story {
    margin-bottom: 10px;
}

.story-prefix {
    font-size: 12px;
    text-transform: uppercase;
    color: #777;
}

.connected-users {
    overflow: hidden;
    list-style-type: none;
}

.user {
    font-size: 14px;
}

.user:after {
    content: '\2022';
    padding-left: 5px;
    color: #666;
}

.user.voted:after {
    content: '\2714';
    color: #060;
}

.user.me {
    background-color: #ff0;
    cursor: pointer;
}

.iterate-logo {
    display: block;
    text-indent: -9999px;
    width: 100px;
    height: 32px;
    margin-top: 15px;
    background: url('../images/iter8.png') no-repeat;
}

.point-button {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #E5B051;
    height: 120px;
    cursor: pointer;
}

.point-button-label {
    margin-top: 15px;
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    color: #9E2B20;
}

.point-button:hover, .point-button.selected {
    background-color: #272F30;
}

.point-button.selected .point-button-label {
    color: #DF3F1B;
}

.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;    
}
