/* @override http://localhost:8080/css/app.css */

html, body {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

header {
    background-color: #272F30;
    height: 70px;
}

#page {
    padding-top: 20px;
}

.points {

}

.story {
    margin-bottom: 10px;
}

.story-prefix {
    font-size: 12px;
    text-transform: uppercase;
    color: #777;
}

.connected-users {
    overflow: hidden;
    list-style-type: none;
}

.connected-users .user {
  margin-bottom: 2px;
}

.user {
    font-size: 14px;
}

.user:after {
    content: '\2022';
    padding-left: 5px;
    color: #666;
}

.user.voted:after {
    content: '\2714';
    color: #060;
}

.user.me {
    background-color: #f7edb7;
    cursor: pointer;
}

.iterate-logo {
    display: block;
    text-indent: -9999px;
    width: 100px;
    height: 32px;
    margin-top: 15px;
    background: url('../images/iter8.png') no-repeat;
}

.point-button {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #E5B051;
    height: 120px;
    cursor: pointer;
}

.point-button-label {
    padding-top: 15px;
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    color: #9E2B20;
}

.point-button:hover, .point-button.selected {
    background-color: #272F30;
}

.point-button.selected .point-button-label {
    color: #DF3F1B;
}

.distribution-table {
    width: 100%;
}

.distribution-table td {
    padding-bottom: 2px;
    vertical-align: top;
}

.points {
    color: #DF3F1B;
    font-weight: bold;
    font-size: 16px;
    padding-right: 5px;
    width: 10px;
}

.votes {
}

.votes-bar {
    margin-top: 4px;
    width: 250px;
    height: 12px;
    background-color: #E5B051;
	  float: left;
	  min-width: 3px;
}

.votes-label {
    font-size: 12px;
    font-weight: bold;
    padding-left: 4px;
    max-width: 20px;
}

.votes-by-user {
  list-style-type: none;
  overflow: hidden;
}

.votes-by-user li {
  float: left;
  margin-right: 20px;
}

.votes-by-user .user-name {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #666;
}

.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
